.right-side {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include tablet { 
        align-items: flex-end;
    }

    .dark-mode-button {
        max-width: 3rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        filter: invert(100%);

        &:hover {
            cursor: pointer;
        }

        @include tablet { 
            margin-top: 0;
        }
    }
}

.bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 3rem;
    
    @include tablet { 
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-end;
    }

    img {
        width: 70%;
        margin: 0 auto;

        @include tablet { 
            width: 100%;
        }
    }
}

.navigation {
    visibility: hidden;
    opacity: 0;
    height: 0;
    transition: opacity 0.5s linear;

    @include tablet { 
        display: flex;
        align-items: center;
        opacity: 1;
        visibility: visible;
    }

    a {
        color: $white;
        text-decoration: none;
        font-size: 2.2rem;
        display: block;
        text-align: center;

        &:hover {
            color: $green;
        }

        @include tablet { 
            margin-right: 2rem;
            font-size: 1.8rem;

            &:last-of-type {
                margin-right: 0;
            }
        }
    }
}


// Responsive Menu
.mobile-menu {
    @include tablet {
        display: none;
    }

    img {
        width: 5rem;
    }
}

.show {
    visibility: visible;
    opacity: 1;
    height: auto;
}